
           .sec1{
            display: inline-block;
            border:2px solid black;
            height:700px;
            width:100%; 
        }
           .home{
            display:inline-block;
            border:2px solid black;
            width:80px;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
           }
           .about{
            display:inline-block;
            border:2px solid black;
            width:100px;
            text-align: center;
           }
           .logo{
            display:inline-block;
            border:2px solid black;
            width:150px;
            text-align: center;
            margin-left: 74%;
           }
           .div1{
            border :2px solid black;
            height:80px;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 12px;
           }
           .title{
            border: 2px solid black;
            width: 300px;
            height: 45px;
            margin: 0px auto;
            margin-top: 10px;
            text-align: center;
           }
           .col{
               display:inline-block;
               padding: 12px;
               margin-top: 20px;
               
           }
           .box {
                display: inline-block;
                border: 2px solid black;
                height:325px;
                width:444px;
                margin-left: 8px;
                text-align: center;
                margin-right: 35px;
           }
           .img1{
            border-radius: 50%;
            margin-left :20px ;
            margin-top: 20px;
           }
