*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: darkorange;
    color: white;
    padding-bottom: 89px;
}
.po-ab{
    position: absolute;
    bottom: 50%;
    right: 75%;
}
.box{
    background-color: black;
    border: 1px solid black;
}
h1{
    padding-top: 60px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 , h2{
    text-transform: uppercase;
}
.width{
    width: 35%;
    font-size: 20px;
    margin: 0 auto;
}
.width-one{
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 20px;
}
.margin-p{
    margin-top: 25px;
}
.tac{
    text-align: center;
}
.d-flex{
    display: flex;
}
.jc{
    justify-content: space-evenly;
}
.margin{
    margin-top: 50px;
}
